@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Сайт для гостиницы</title>
</head>
    <body>
        <h1>Сайт для гостиницы</h1>
        <div>
            Добрый день! На этом сайте вы сможете забронировать себе номер в режиме онлайн.<br />
            @Html.ActionLink("Перейти к форме регистрации","Registration","Home")
        </div>
    </body>
</html>
